body{
	margin: 0;
	height: 100%;
	background-image: url("../../assets/img/rainbow.jpg");
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
html {
	position: relative;
	height: 100%;
}
.fancy-font{
	font-family: fancy-font;
	display: inline;
}


